<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
</head>

<body>
    <h1>Reset Your Password</h1>

    <% if (error_msg) { %>
        <p style="color:red;">
            <%= error_msg %>
        </p>
        <% } %>

            <% if (success_msg) { %>
                <p style="color:green;">
                    <%= success_msg %>
                </p>
                <% } %>

                    <form action="/auth/confirm-reset-password" method="POST">
                        <input type="hidden" name="email" value="<%= email %>">
                        <label for="verificationCode">Verification Code:</label>
                        <input type="text" name="verificationCode" id="verificationCode" required>

                        <label for="newPassword">New Password:</label>
                        <input type="password" name="newPassword" id="newPassword" required>

                        <button type="submit">Reset Password</button>
                    </form>
</body>

</html>